# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pot
*.pyc
# db.sqlite3
*.pyc
media/
staticfiles/

# Ignore migrations
**/migrations/
!**/migrations/__init__.py

# VS Code
.vscode/

# Environments
.env
venv/
env/

node_modules/

