body {
    margin-top: 60px;
    
    /* background-color:red;     */
}
/* .actice1 {
    padding: 4px 50px;
    margin-left: 50px;
    margin-top: 20px;
}

.search-card {
    height: 300px;
} */

.actice1 {
    padding: 1rem 5vw;
    margin-top: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.search-card {
    height: auto;
    max-height: 300px;
    overflow: hidden;
}
